<?xml version="1.0" encoding="UTF-8"?>

<Events>

	<event Event-ID="0">

		<Spielzeitraum>
			<von>2013-05-20T17:00:00+01:00</von>
			<bis>2013-05-20T19:00:00+01:00</bis>
		</Spielzeitraum>

		<Sportart>Fußball</Sportart>

		<Oertlichkeit>
			<Ort>Gummersbach</Ort>
			<Platz>Gummersbach Sportplatz</Platz>
			<min.Spieleranzahl>6</min.Spieleranzahl>
			<max.Spieleranzahl>22</max.Spieleranzahl>
			<Oeffnungszeiten>
				<geoeffnet_von>09:00:00</geoeffnet_von>
				<geoeffnet_bis>22:00:00</geoeffnet_bis>
				<geschlossen_an>Sonntag</geschlossen_an>
			</Oeffnungszeiten>
			<Preis>0</Preis>
		</Oertlichkeit>

		<Spielerliste min.Spieler="6" max.Spieler="10">
			<Spieler subadmin="true">
				<Anzeigename>Michael</Anzeigename>
				<Telefonnummer>3456</Telefonnummer>
			</Spieler>
			<Spieler subadmin="false">
				<Anzeigename>Georg</Anzeigename>
				<Telefonnummer>4567</Telefonnummer>
			</Spieler>
			<Spieler subadmin="false">
				<Anzeigename>Fabian</Anzeigename>
				<Telefonnummer>5678</Telefonnummer>
			</Spieler>
			<Spieler subadmin="false">
				<Anzeigename>Petra</Anzeigename>
				<Telefonnummer>6789</Telefonnummer>
			</Spieler>
			<Spieler subadmin="false">
				<Anzeigename>Ulric</Anzeigename>
				<Telefonnummer>1596</Telefonnummer>
			</Spieler>
			<Spieler subadmin="false">
				<Anzeigename>Werner</Anzeigename>
				<Telefonnummer>4125</Telefonnummer>
			</Spieler>
		</Spielerliste>

		<Blacklist>
			<Spieler subadmin="false">
				<Anzeigename>Hans</Anzeigename>
				<Telefonnummer>12345</Telefonnummer>
			</Spieler>
		</Blacklist>

		<Admin>
			<Anzeigename>Peter</Anzeigename>
			<Telefonnummer>01234</Telefonnummer>
		</Admin>

	</event>

</Events>